<ion-view>
	<div class="bar bar-subheader floatingHeader top8p background_transparent">

		<span  class="ion-plus-circled floatingbtn font_size_30px orangeText" 
		ng-click="vm.showFormForNewUser()"></span> 
	</div>
	<ion-content class="has-header"  overflow-scroll = "true">

		<div   class="boldtext font_size_20px orangeText text_align_center headerTextMrg ">
			<span class="btmborder padding5px">People Search</span>
		</div>

		<div class="spinnerDiv" ng-show="vm.showSpinner">
			<span><ion-spinner icon="lines" class="spinner-energized"></ion-spinner></span>
		</div>
<div class="padding10">
		<div class ="row padding0">
			<div class="col3 mrgrgt5p">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Name</div>
					<div class="with50p">
						<span> <input type="text" ng-model="vm.search.name" class="btmborder with100p" /></span>
					</div>
				</div>
			</div>
			<div class="col3 mrgrgt5p">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Email</div>
					<div class="with50p">
						<span> <input type="text" ng-model="vm.search.email" class="btmborder with100p" /></span>
					</div>
				</div>
			</div>
			<div class="col3 mrgrgt5p">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Phone</div>
					<div class="with50p">
						<span><input type="text" ng-model="vm.search.phone" class="btmborder with100p" /></span>
					</div>
				</div>
			</div>
		</div>
		<div class ="row padding0">
			<div class="col3 mrgrgt5p">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Role</div>
					<div class="with50p">
						<span> 	<select  ng-model="vm.search.role" ng-options="v for v in vm.userRole" class="bordernone with100p btmborder padding5px"></select></span>
					</div>
				</div>
			</div>
			<div class="col3 mrgrgt5p">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Country</div>
					<div class="with50p">
						<span> <input type="text" ng-model="vm.search.country" class="btmborder with100p" /></span>
					</div>
				</div>
			</div>
			<div class="col3 mrgrgt5p resmrgbtm10">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">State</div>
					<div class="with50p">
						<span><input type="text" ng-model="vm.search.state" class="btmborder with100p" /></span>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class ="row">
			<div class="col text_align_center btmborder">
				<button class="button   themBackgroundColor text_white" 
				ng-click="vm.searchUser(vm.search)"
				>Search</button>
			</div>
		</div> -->

		<div class ="row padding0 mrg_top10px">
			<div class="col text_align_center btmborder">
				<button class="button   themBackgroundColor text_white" 
				ng-click="vm.searchUser(vm.search)"
				>Search</button>
			</div>
		</div>
</div>

		<!-- <div class ="row  mrg_top10px " ng-if="vm.showSearchCount">
			<div class="col3 orangeText font_size_15px ">
				Found {{vm.user.data.length}} results
			</div>
		</div> -->

		<div ng-if="vm.showSearchCount">
			<span class="padding10 line_height3 verticalalignmiddle orangeText">Found {{vm.user.data.length}} results</span>
			<button class="button themBackgroundColor  text_white float_right bordernone mrgrgt10" 
			ng-click="vm.routingTOMapView(vm.activityData)">Map View</button>
		</div>



		<div  ng-repeat="user in filtered = vm.user.data | filter: vm.searchKeywordForUser 
		| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">


<div class="padding10">

		<div class ="row padding0 btmborder">
			<div class="col3 padding5px">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Name</div>
					<div class="with50p">
						<span> {{user.Name }}</span>
					</div>
				</div>
				<div class="position_relative displayflex mrg_top5px" ng-if="(user.Phone)">
					<div class="with50p">Phone</div>
					<div class="with50p">
						<span> {{user.Phone }}</span>
					</div>
				</div>
				<div class="position_relative displayflex mrg_top5px" ng-if="(user.Email)">
					<div class="with50p">Email</div>
					<div class="with50p">
						<span> {{user.Email }}</span>
					</div>
				</div>
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Address</div>
					<div class="with50p">
						<span> <address vm.openMap(user.Address) parameter="user.Address"></address></span>
					</div>
				</div>
			</div>
			<div class="col3 padding5px">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with50p">Role</div>
					<div class="with50p">
						<span> {{user.Role}}</span>
					</div>
				</div>

			</div>
			<div class="col3 padding5px resmrg_top5p resbtmborder">
				<div class="position_relative displayflex mrg_top5px">
					<div class="with100p">
						<span>
							<span ng-click="vm.detailAboutUser(user)" class="ion-share font_size_30px mrgrgt20 orangeText resfontsize"></span>
						</span>
						<span ng-if="!(vm.role == 'Student')">
							<span ng-click="vm.deleteUser(user)" class="ion-trash-a font_size_30px mrgrgt20 orangeText resfontsize"></span>
						</span>
						<span ng-if="!(vm.role == 'Student')">
							<span ng-click="vm.updateUser(user)" class="ion-edit font_size_30px mrgrgt20 orangeText resfontsize"></span> 
						</span>
						<span ng-if='(user.Phone != "")'>
							<a  href="tel:{{user.Phone}}" class="ion-ios-telephone font_size_30px mrgrgt20 orangeText resfontsize"></a>
						</span>
						<span ng-if='(user.Email != "")'>
							<a href="mailto:{{user.Email}}" class="ion-email font_size_30px mrgrgt20 orangeText resfontsize"></a>
						</span>

					</div>

				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="display_inlineflex margin0auto with100p"><pagination  ng-model="currentPage" total-items="vm.user.data.length" max-size="noOfPages"  boundary-links="true" items-per-page="entryLimit">
	</pagination></div>


	<script id="editUser.html" type="text/ng-template">
		<ion-modal-view>										
			<ion-header-bar class="bar bar-header button-clear padding0">
				<!-- <div class="text_align_center with100p">
					<span class="btmborder padding5px orangeText font_size_20px boldtext">Edit User Profile</span>
					<button class="button  button-light float_right background_transparent" ng-click="vm.closeModel()">
						<span class="ion-android-cancel orangeText font_size_20px"></span>
					</button>
				</div> -->
				<div class="text_align_center with100p">
						<span class="btmborder padding5px orangeText font_size_20px boldtext">Edit User Profile</span>
						<button class="button  button-light float_right background_transparent mrgrgt42 resmrg_right10p" ng-click="vm.closeModel()">
							<span class="ion-android-cancel orangeText font_size_20px"></span>
						</button>
					</div>
			</ion-header-bar>
			<ion-content style="top:0" overflow-scroll = "true">

				<div class="spinnerDiv" ng-show="vm.showSpinner"><span><ion-spinner icon="circles" class="spinner-energized"></ion-spinner></span></div>

				<div class="mrg25px">
					<div class="row mrg_top5px">
						<div class="col">Name
							<input type="text" ng-model="vm.showUserDetail.Name" class="with100p btmborder">
						</div>
					</div>


					<div class="row mrg_top5px">
						<div class="col ">		Phone
							<input type="text" ng-model="vm.showUserDetail.Phone"  class="with100p btmborder">
						</div>
					</div>


					<div class="row mrg_top5px">
						<div class="col">	Email
							<input type="text" ng-model="vm.showUserDetail.Email" class="with100p btmborder">
						</div>
					</div>


					<div class="row mrg_top5px">
						<div class="col">	Profession
							<select  ng-model="vm.showUserDetail.Profession" ng-options="v for v in vm.userProfessionList.data" class="bordernone with100p btmborder padding5px">	<option value="" disabled selected="selected" style="display: none;">{{vm.showUserDetail.Profession}}</option></select>

						</div>
					</div>


					<div class="row mrg_top5px">
						<div class="col">	Role
							<select  ng-model="vm.showUserDetail.Role" ng-options="v for v in vm.userRole" class="bordernone with100p btmborder padding5px">
								<option value="" disabled selected="selected" style="display: none;">{{vm.showUserDetail.Role}}
								</option>
							</select>
						</div>
					</div>


					<div class="row mrg_top5px">
						<div class="col">Address line 1
							<input type="text" ng-model="vm.showUserDetail.Address.Address_line1" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	Address line 2
							<input type="text" ng-model="vm.showUserDetail.Address.Address_line2" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	City
							<input type="text" ng-model="vm.showUserDetail.Address.City" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col"> District
							<input type="text" ng-model="vm.showUserDetail.Address.District" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	State
							<input type="text" ng-model="vm.showUserDetail.Address.State" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">Country
							<input type="text" ng-model="vm.showUserDetail.Address.Country" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	Postal code
							<input type="text" ng-model="vm.showUserDetail.Address.Postal_code" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px padding0">
						<div class="col text_align_center">
							<button class="button themBackgroundColor text_white" ng-click="vm.saveUpdatedUserDetail(vm.showUserDetail)" type="submit">Update </button>
						</div>
					</div>
				</div>
			</ion-content>
		</ion-modal-view>
	</script>

	<script id="newUsersForm.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar class="bordernone padding0">

				<div class="text_align_center with100p">
					<span class="btmborder padding5px orangeText font_size_20px boldtext">Add New User</span>
					<button class="button  button-light float_right background_transparent mrgrgt42" ng-click="vm.closeModel()">
						<span class="ion-android-cancel orangeText font_size_20px"></span>
					</button>
				</div>
			</ion-header-bar>
			<ion-content overflow-scroll = "true" style="top:0">

				<div class="spinnerDiv" ng-show="vm.showSpinner"><span><ion-spinner icon="circles" class="spinner-energized"></ion-spinner></span></div>

				<div class="mrg25px">
					<div class="row mrg_top5px">
						<div class="col">	Name
							<input type="text" ng-model="vm.NewUserData.Name" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	Email
							<input type="text" ng-model="vm.NewUserData.Email" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	Phone
							<input type="text" ng-model="vm.NewUserData.Phone" class="with100p btmborder">
						</div>
					</div>

					<div class="row mrg_top5px">
						<div class="col">	Role
							<select  ng-model="vm.NewUserData.Role" ng-options="v for v in vm.userRole" class="bordernone with100p btmborder padding6px">
								<option value="" disabled selected="selected" style="display: none;">Choose role</option>
							</select>
						</div>
					</div>

					<div class="row mrg_top5px padding0">
						<div class="col text_align_center">
							<button class="button themBackgroundColor text_align_center text_white" 
							ng-click="vm.addNewUser(vm.NewUserData)" type="submit">Add </button>
						</div>
					</div>
					<div ng-show="vm.userAdded" class="ion-checkmark-circled text_align_center font_size_15px" style="color:green">User added</div>
					<div ng-show="vm.userExit" class="ion-checkmark-circled text_align_center font_size_15px" style="color:green">User already enroled</div>
				</div>

			</ion-content>
		</ion-modal-view>
	</script> 


	<script id="userInfo.html" type="text/ng-template">
		<ion-modal-view>										
			<ion-header-bar class="bar bar-header button-clear padding0">
				<h1 class="title orangeText"> User Detail</h1>
				<button class="button  button-light mrgrgt42" ng-click="vm.closeModel()">
					<span class="ion-android-cancel orangeText font_size_20px"></span>
				</button>
			</ion-header-bar>
			<ion-content overflow-scroll = "true">

				<div class="spinnerDiv" ng-show="vm.showSpinner"><span><ion-spinner icon="circles" class="spinner-energized"></ion-spinner></span></div>

				<div class="mrg25px">

					
					<div class="row mrg_top5px">

						<div class="col">	Name
							<input type="text" ng-model="vm.userDetailInfo.Name" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>

				
					<div class="row mrg_top5px">
						<div class="col">		Phone
							<input type="text" ng-model="vm.userDetailInfo.Phone"  class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>

					
					<div class="row mrg_top5px">
						<div class="col">	Email
							<input type="text" ng-model="vm.userDetailInfo.Email" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>

				
					<div class="row mrg_top5px">
						<div class="col">		Profession
							<input type="text" ng-model="vm.userDetailInfo.Profession" class="with100p backgroundNone btmborder" ng-disabled = "true">

						</div>
					</div>

					
					<div class="row mrg_top5px">

						<div class="col">	Role
							<input type="text" ng-model="vm.userDetailInfo.Role" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>

					
					<div class="row mrg_top5px">
						<div class="col"> Address line 1	
							<input type="text" ng-model="vm.userDetailInfo.Address.Address_line1" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>
					
					<div class="row mrg_top5px">
						<div class="col">	Address line 2
							<input type="text" ng-model="vm.userDetailInfo.Address.Address_line2" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>
					
					<div class="row mrg_top5px">
						<div class="col">	City
							<input type="text" ng-model="vm.userDetailInfo.Address.City" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>
					
					<div class="row mrg_top5px">
						<div class="col">District
							<input type="text" ng-model="vm.userDetailInfo.Address.District" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>
					
					<div class="row mrg_top5px">
						<div class="col">	State
							<input type="text" ng-model="vm.userDetailInfo.Address.State" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>
					
					<div class="row mrg_top5px">
						<div class="col">Country
							<input type="text" ng-model="vm.userDetailInfo.Address.Country" class="with100p backgroundNone btmborder" ng-disabled = "true">
						</div>
					</div>
					
					<div class="row mrg_top5px">
						<div class="col">	Postal code
							<input type="text" ng-model="vm.userDetailInfo.Address.Postal_code" class="with100p backgroundNone btmborder" 
							ng-disabled = "true">
						</div>
					</div>
				</div>
			</ion-content>
		</ion-modal-view>
	</script>
</ion-content>
</ion-view>