/* Empty. Add your own CSS if you like */
.themBackgroundColor{
    background: #e26228;
}
.fbColor{
    background: #33569E!important
}
.googleColor{
    background: #D62D20;
}
.orangeText{
    color: #e26228 !important;
}
.lighterOrange{
    background: #faded1!important;
}
.backgroundNone{
    background: none !important;
}
.bg_lightgry{
    background: #f8f8f8;
}
.background_transparent{
    background: transparent !important;
}
.text_red{
     color: red;
}
.text_white{
    color: white;
}
.text_black{
    color:#000 !important;
}
.silverbg{
    background: #f9f9f9;
}
.with100p{
    width: 100%;
}
.with50p{
    width: 50%;
}
.width90p{
    width: 90%;
}
.width46p{
    width: 46%;
}

.margin0auto{
    margin: 0 auto;
}

.height100p{
    height: 100%;
}
.text_align_center{
    text-align: center;
}
.padding_right30px{
    padding-right: 30px;
}
.padding_top10px{
    padding-top: 10px;
}
.padding0{
    padding: 0;
}
.padding10{
    padding: 10px !important;
}
.padding_right5p{
    padding-right: 5%;
}
.mrg_top10px{
    margin-top: 10px !important;
}

.mrg_top55px{
    margin-top: 55px;
}
.mrg_top5px{
    margin-top: 5px !important;
}
.mrg_btm10px{
    margin-bottom: 10px;
}
.mrgleft10p{
    margin-left:10%;
}
.mrg0{
    margin: 0;
}
.mrgrgt5p{
    margin-right: 5%;
}
.mrgtopbtm20px{
     margin:20px 0px
}
.mrglftrt20px{
    margin: 0px 20%;
}

.login_parentdiv{
    margin: 6% 20% 0 20%;
}
.mrg10px{
    margin: 10px !important;
}
.mrgrgt20{
            margin-right: 20px;
    }

    .mrgrgt42{
            margin-right: 42px;
    }
    .mrgrgt10{
            margin-right: 10px;
    }
.mrgtopbtm10px{
        margin: 10px 0;
    }
    .mrg25px{
            margin: 25px;
    }
    .mrg10px{
            margin: 10px;
    }
    .boldtext{
        font-weight: bold;
    }
.font_size_20px{
    font-size: 20px !important;
}
.font_size_15px{
    font-size: 15px;
}
.font_size_30px{
    font-size: 30px;
}
.border_color_orange{
    border-color: #e9682e!important;
}
.border1px{
    border: 1px solid #e9682e !important;
}
.btmborder{
    border-bottom: 1px solid #e9682e !important;
}
.bordernone{
    border: none;
}
.menuheaderlogo{
        width: 12%;
    margin-left: 31%;
}
.menuimg{
    margin-top: 15%;
}

.float_right{
    float: right;
}
.line_height3{
    line-height: 3
}

.line_height2p5{
    line-height: 2.5
}

.position_relative{
    position: relative;
}
.position_absolute{
    position: absolute;
}
.display_inlineTable{
    display: inline-table;
}
.display_listItem{
    display:list-item;
}
.display_inlineflex{
    display: inline-flex;
}
.displayTable{
    display: table;
}
.displayNone{
    display: none;
}
.displayflex{
    display: flex;
}
.top10px{
    top:10px;
}
.italictext{
        font-style: italic;
}
.verticalalignmiddle{
    vertical-align: middle;
}
ul {
    list-style: none;
    display: inherit;
    margin: 0 auto
}
li {
    padding: 10px;
   /* float: left;
    border: 1px solid #e9682e;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 10px 10px 10px 5px;
    background-color: white;
    color: #696969;*/
}
li a{
    text-decoration: none;
    color: #e26228;
}


#mainView {
    /*border-bottom: 1px solid #e26228;*/
	clear: both;
	padding: 0 1em;
}
.tab.active {
    background-color: #e26228;
    color: white;
}
.item-content.activated{
    background: white !important
}
.button:hover{
    opacity: 0.8;
    color: white;
}
.themBackgroundColor.activated{
background: #e26228;
}
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

  .popup{
    border-radius: 10px !important;
    border: 1px solid black!important;
}
.popup-body{
    font-size: 19px !important;
    font-weight: 500 !important;
    text-align: center;
}
.popup-buttons{
    width: 100% !important;
    margin: 0 auto !important;
   /* background: #e26228 !important;*/

}
.popup-container.popup-showing{
    background: transparent !important;
}
.popup-buttons .button.button-positive{
    background: #e26228 !important;
}

.signupmodel{
    height: 70% !important;
}


.col3 {
        width: 33.33333333%;
    }

.searchbtn{
   /* border-bottom: 1px solid #e26228;*/
  /*  padding-bottom: 20px;*/
}

.spinnerDiv{
    position: absolute;
    z-index: 999999;
    text-align: center;
    display: inline-grid;
    /* background: rebeccapurple; */
    /* left: 46%; */
    /* top: 32%; */
    opacity: .4;
    background: #111;
    padding: 20%;
    width: 100%;
    height: 100%;
}
.spinner svg {
    width: 116px !important;
    height: 67px !important;
}
.spinner.spinner-energized {
    stroke: #e26228 !important;
    fill: #e26228 !important;
}
.padding5px{
    padding: 5px
}
.padding6px{
    padding: 6px
}

.keytd{
    padding: 0 50px 0 10px;
}
.valuetabletd{
    padding: 0;
}
.floatingHeader{
    float: right;
    position: relative;
    width: 1% !important;
     border: none;
    display: table;
    top: 33%;
    height: 4px;
        margin-right: 21px;
        /* top: 24px;
   
    width: 1%;
    border: none; */
}
.floatingbtn{
    color: green;
}
.item.activated{
    background: white !important;
}
#wrapper {
  font: 20px Calibri;
  width: 100px;
  margin: 0 auto;
}
.headerTextMrg{
    margin: 5px 0 30px 0;
}
.padding5px{
    padding: 5px;
}
.top8p{
    top:8% !important;
}
option:before { content: "☐ " }
       option:checked:before { content: "☑ " }

  .selecttodiv{
    display: inline-block;
    height: 3.5em !important;    
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: inherit !important;
}

.selecttodiv option{
    display: inline-block;
    width: 3.5em;
  /*  height: 2.5em;*/
    float:left;
}
select{
    color: #999 !important;
}
input{
    color: #999 !important;
}
.minheight10px{
         min-height: 10px !important;

     }
@media (min-width : 768px) and (max-width : 1200px){
    .col3 {
    width: 33.33333333%;
    }
}
@media (min-width : 320px) and (max-width : 767px){
    .col3 {
    width: 99%;
    float: left;
    }
    .row{
       /* display: table !important;*/
       display: inline !important;

    }
    .restextalign{
        text-align: center;
    }
   .login_parentdiv{
     /*margin: 23% 10% 0 10%*/
     display: table;
    width: 100%;
    position: relative;
    padding: 10%;
    margin: 0;
    }
    .restop0{
        top: 0;
    }
    .resmrg20px{
        margin: 20px;
    }
    
    .mrglftrt20px{
           margin: 0px 10%
    }
    .menuimg{
    margin-top: 40%;
    }
    .resfontsize{
        font-size: 20px !important;
    }
    .resfontsize10{
        font-size: 10px !important;
    }
    .resmrg10px{
            margin: 10px;
    }
    .resmrgtopbtm5px{
            margin: 5px 0;
    }
    .resmrgtop10{
        margin-top: 10%;
    }
     .resmrgbtm10{
        margin-bottom: 10px;
    }
     .resmrgtop15p{
        margin-top: 15%;
    }
    .respadding20px{
        padding: 20px
    }
    .reswidth100p{
     width: 100%;
    }
    .resmrg_top5p{
        margin-top: 5% !important;
    }
    .resmrg_right10p{
        margin-right: 10% !important;
    }
    .resbtmborder{
    border-bottom: 1px solid #e9682e !important;
}
}

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        color: #999 !important;
      }
      #map {
        height: 100%;
      }
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.paddingleft10{
     padding-left: 10px;
}
.mrgtop025{
        margin: 0 25px 25px 25px;
}